# Set default behavior for all files to be auto-detected.
* text=auto

# For the following file types, normalize to LF line endings.
# This is to prevent the "LF will be replaced by CRLF" warning.
*.js    text eol=lf
*.json  text eol=lf
*.md    text eol=lf